apiVersion: tf.isaaguilar.com/v1alpha1
kind: Terraform
metadata:
  name: {{'{{ .Release.Name }}'}}
  labels:
    {{'{{- include "custom-resource.labels" . | nindent 4 }}'}}
spec:
  terraformVersion: {{ tf_config['tf_version'] }}
  terraformRunnerPullPolicy: IfNotPresent
  terraformModule: {{ tf_config['tf_module'] }}
  ignoreDelete: false
  credentials: {}
  env:
{%- for k in config['required'] %}
{%- set name = "TF_VAR_" + k %}
{%- set value = ".Values.required." + k %}
  - name: {{ name }}
    value: {{ '{{' }} {{ value }} {{ '}}' }}
{%- endfor %}
{%- for k in config['optional'] %}
{%- set name = "TF_VAR_" + k %}
{%- set value = ".Values.optional." + k %}
  - name: {{ name }}
    value: {{ '{{' }} {{ value }} {{ '}}' }}
{%- endfor %}
{%- if 'git_repo' in tf_config %}
  scmAuthMethods:
  - git: {}
    host: {{ tf_config['git_repo'] }}
  {%- endif %}
  outputsSecret: "{{'{{ .Release.Name }}'}}-outputs"
  customBackend: |-
    terraform {
      backend "kubernetes" {
        secret_suffix    = "{{'{{ .Release.Name }}'}}"
        in_cluster_config  = true
        namespace = "{{'{{ .Release.Namespace }}'}}"
      }
    }
