apiVersion: terraform.appvia.io/v1alpha1
kind: Configuration
metadata:
  name: {{'{{ .Release.Name }}'}}
  labels:
    {{'{{- include "custom-resource.labels" . | nindent 4 }}'}}
spec:
  module: {{ tf_config['tf_module'] }}
  enableAutoApproval: {{'{{ .Values.required.enable_auto_approval }}'}}
  providerRef:
    name: {{'{{ .Values.required.provider_ref }}'}}
  writeConnectionSecretToRef:
    name: "{{'{{ .Release.Name }}'}}-outputs"
  variables:
{%- for k, v in config['required'].items() %}
{%- set name = k %}
{%- if v is iterable and (v is not string) %}
{%- set value = "toYaml .Values.required." + k + " | nindent 6" %}
{%- else %}
{%- set value = "toYaml .Values.required." + k %}
{%- endif %}
    {{ name }}: {{ '{{' }} {{ value }} {{ '}}' }}
{%- endfor %}
{%- for k, v in config['optional'].items() %}
{%- set name = k %}
{%- if v is iterable and (v is not string) %}
{%- set value = "toYaml .Values.optional." + k + " | nindent 6" %}
{%- else %}
{%- set value = "toYaml .Values.optional." + k %}
{%- endif %}
    {{ name }}: {{- ' {{' }} {{ value }} {{ '}}' }}
{%- endfor %}
